:root {
  font-family: "Comic Neue";
  color: #000;
  background-color: #F2F3F8;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
}
/* .container {
  margin: 0 86px;
  display: flex;
  flex-direction: column;
} */

@media(max-width:756px){
  /* .container{
    margin: 0 auto;
  } */
}
  