.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 756px) {
  .wrapper {
    margin: 0 5rem;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section {
  display: flex;
  border: 1px solid;
  justify-content: center;
  padding: 4rem;
  background-image: url(/src/assets/bg-1.png);
  background-size: cover;
  background-position: center;
  background-color: #fff;
  align-items: center;
  margin-top: 6rem;
}
.about-section img {
  width: 25vw;
  border: 4px solid;
  filter: grayscale(100%);
}

.aboutTextOuterContainer {
  background-color: #fff;
  border: 7px solid;
  background-image: url(/src/assets/bg2.jpg);
  margin: auto 1rem auto;
  background-size: cover;
}
.aboutInnerContainer {
  margin: 5rem;
  border: 1px solid;
  font-size: 1.5rem;
  text-align: center;
  background-color: #fff;
  padding: 3rem;
}
.aboutInnerContainer .resume-link {
  color: white;
  background: rgb(0 0 0 / 95%);
  text-decoration: none;
  padding: 1rem;
  border-radius: 2rem;
  /* font-weight: bold; */
  font-size: 1.2rem;
  text-transform: uppercase;
}
.aboutInnerContainer .resume-link:hover {
  background-color: rgba(0, 0, 0, 0.664);
}

@media (max-width: 570px) {
  .aboutInnerContainer .resume-link {
    font-size: 3vw;
  }
}

.aboutInnerContainer span {
  display: flex;
  align-items: center ;
  flex-direction: column-reverse;
}
.socials {
  z-index: 5;
  margin-top: 0.5rem;
}
.socials a {
  color: blue;
  font-size: 2rem;
  display: inline-block;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.socials a:hover {
  color: black;
  transform: scale(1.25);
}

.skills-section {
  margin: 1rem auto;
  display: flex;
  /* border: 1px solid; */
  justify-content: center;
  padding: 0.5rem;
  /* background-image: url(/src/assets/dot.jpg); */
  background-size: contain;
  background-position: center;
  /* background-color: #fff; */
  align-items: center;
  flex-direction: column;
  padding-top: 1.9rem;
  width: -webkit-fill-available;
  z-index: 1;
}
.skillsNav {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.skillsNav div {
  margin: 2rem;
  border: solid;
  /* border-radius: 3rem; */
  padding: 1rem;
  background: rgb(7, 0, 0);
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
  text-transform: uppercase;
  font-size: 2rem;
}
.skillsNav div:hover {
  background-color: rgb(95, 90, 90);
}
.skillsContainer {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.right-container {
  background: white;
  color: black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}
.r-container-title{
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom:1px solid;
}
.right-container-title-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.canvas-wrapper {
  position: absolute;
  left: 0;
  z-index: 2;
  /* top: 100%; */
}
.canvas-wrapper::after {
  text-transform: none;
  content: "Hello! You can minimize me if\AI'm blocking anything";
  position: absolute;
  top: -55px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  white-space:pre-line;
}

.canvas-wrapper:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Responsive styles */

.skillsContainer img {
  width: 5rem;
  margin: 0.5rem;
  padding: 1px;
}
.skillsContainer .description {
  border: solid;
  width: fit-content;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
.certificatesContainer {
  width: 80vw;
  z-index: 2;
}
.certificatesContainer img {
  width: 100%;
  /* max-width: 50vw; */
  height: auto;
  object-fit: contain;
}
@media (min-width: 1025px) {
  .certificatesContainer img {
    max-width: 25vw; /* Shrinks on wider screens */
  }
}
.certificatesContainer p {
  text-align: center;
  color: black;
}

.certBox {
  display: flex;
  justify-content: center;
}
/* .certBox img{
    width: 200px;
} */

.cert-description {
  margin: 1rem;
}

.titleContainer {
  display: inline-grid;
}
.tech-container {
  display: flex;
  flex-wrap: wrap;
}
.tech-container a{
  transition:
  transform 0.3s ease,
  color 0.3s ease;
}
.tech-container a:hover{
  transform: scale(1.25);
}
.tech-container span {
  transition:
  transform 0.3s ease,
  color 0.3s ease;
  display: flex;
  background: #e7e7e7bd;
  margin: 1px;
  padding: 0.5rem;
  /* width: 10rem; */
  font-size: 13px;
  border-radius: 54px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.tech-container span:hover{
  transform: scale(1.25);
  background-color: black;
  color: white;
}

@media (max-width: 1050px) {
  .about-section {
    flex-direction: column;
  }
  .aboutInnerContainer {
    margin: 1rem;
    font-size: 20px;
    padding: 1rem;
  }
}
@media (max-width: 570px) {
  .about-section img {
    width: 50vw;
  }
}
@media (max-width: 400px) {
  .aboutInnerContainer {
    width: 15rem;
  }
}
