.timeline {
  position: relative;
  margin-left: 40px; /* give more spacing */
  border-left: 2px solid #ccc;
  padding-left: 20px;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px; /* space between bullet and text */
}

.timeline-item .bullet {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #000;
  flex-shrink: 0;
  left: -32px;
}

.bullet.filled {
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bullet.filled p{
  width: max-content;
  position: absolute;
  margin-left: 2rem;
}