.work-section-header {
  margin-left: 1rem;
}
.timeline {
  position: relative;
  margin-left: 40px; /* give more spacing */
  border-left: 2px solid #ccc;
  padding-left: 22px;
}

.timeline-item {
  position: relative;
  padding: 1rem;
}

.timeline-item .bullet {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #000;
  flex-shrink: 0;
  left: -32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bullet.filled {
  background-color: #000;
}
.bullet .w-container {
  width: max-content;
  position: absolute;
  margin-left: 2rem;
}
.w-time {
  display: flex;
  justify-content: flex-end;
}
.w-time-description p{
    text-transform: capitalize;
    margin-right: 1rem;
    text-align: left;
}